<a href="https://colab.research.google.com/github/isachristine/Python-Univesp/blob/master/Desafio_Semana02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
import pandas as pd

uri = ('https://raw.githubusercontent.com/fivethirtyeight/data/master/comic-characters/marvel-wikia-data.csv')
marvel_characters = pd.read_csv(uri)
marvel_characters.head()

   page_id                                 name  ... FIRST APPEARANCE    Year
0     1678            Spider-Man (Peter Parker)  ...           Aug-62  1962.0
1     7139      Captain America (Steven Rogers)  ...           Mar-41  1941.0
2    64786  Wolverine (James \"Logan\" Howlett)  ...           Oct-74  1974.0
3     1868    Iron Man (Anthony \"Tony\" Stark)  ...           Mar-63  1963.0
4     2460                  Thor (Thor Odinson)  ...           Nov-50  1950.0

[5 rows x 13 columns]